html {
    background: linear-gradient(to right, #0b1d3a, #1a365d, #0f2027);
}

body {
    background: linear-gradient(to right, #0b1d3a, #1a365d, #0f2027);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Inter', -apple-system, sans-serif;
}

.nav-link{
    font-size: 20px;
    display: inline-block;
    background-color: #1a1a1a;
    color: #ffffff;
    width: 150px;
    height: 30px;
    padding: 10px 15px;
    text-align: center;
    line-height: 30px;
    justify-content: center;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-right: 18px;
}

.nav-link.active {
    border: 2px solid gold;
}

.nav-link:hover{
    background-color: #656262 ;
    color: #ffffff;
}

nav ul{
    display: flex;
    list-style: none; 
    justify-content: center;
}

.main-text{
    margin-right: 150px;
}

.profile-photo{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 100%;
}

.intro-content{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 30px;
}

.cta-button{
    display: inline-block;
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover{
    background-color: #656262 ;
    color: #ffffff;

}


.about-layout{
    display: flex;
    max-width: 1100px;
    margin: 35px auto;
    gap: 80px;
    /* align-items: flex-start; */
    align-items: center;
}

.about-sidebar{
    flex-grow: 0;
    font-size: 20px;
    background-color: #152238;
    padding: 18px;
    border-radius: 12px;
    max-width: 300px;
    border: 2px solid gold;
    box-shadow: 30px 30px 12px rgba(0, 0, 0, 0.4);


}

.facts{
    margin-bottom: 13px;
}

.about-main{
    flex-grow: 1;
    max-width: 800px;

}

.about-content{

    font-size: 20px;
}

.skill-subheading{
    margin-top: 10px;
    max-width: 800px;
    margin: 40px auto;
    font-size: 32px;
}

.skills-grid {
    display: flex;
    max-width: 800px;
    margin: 40px auto;
    font-size: 23px;
    gap: 40px;
}

.skills-category{
    background-color: #152238;
    padding: 18px;
    border-radius: 12px;
    border: 2px solid gold;
    box-shadow: 30px 30px 12px rgba(0, 0, 0, 0.4);
}

.projects-list{
    max-width: 800px;
    margin: 40px auto;
    gap: 80px;
    font-size: 23px;
}
.projects-grid{
    display: flex;
    gap: 40px;   /* whatever gap you want between cards */
    font-size: 22px;
}

.projects-tech{
    display: flex;
    gap: 40px;
}

.tech-category{
    background-color: #152238;
    width: 200px;
    padding: 18px;
    border-radius: 12px;
    border: 2px solid gold;
    box-shadow: 30px 30px 12px rgba(0, 0, 0, 0.4);
}

.projects-links{
    display: flex;
    margin-top: 30px;
    gap: 40px;
}

.links-btn{
    display: inline-block;
    background-color: #152238;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 6px;
    border: 2px solid gold;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.links-btn:hover{
    background-color: gold ;
    color: #1a1a1a;
}

.certificates-list{
    max-width: 1000px;
    margin: 40px auto;
    gap: 80px;
    font-size: 25px;
}

.certificates-grid{
    display: flex;
    gap: 40px;
    justify-content: center;
}

.certificates-img{
    width: 600px;
    height: 400px;
    object-fit: contain;
}